# Copy this file to ".env" (same folder as manage.py) and edit the values.
# NEVER commit the real .env file to git.

SECRET_KEY=Qx7NfL9vTa3RkW8mYp2HdC5sUz1BgJ6eVr4XtN9qLa7FwK3hPy8McD2uRs5ZjT1nVb6XgQ4eHk9WpC7yLm2FaR8tUd3NsJ5vBx1KqZ6cEgT9wYp4HrM7fLu2DnV8sXkA3jQc5WzT1eRb9Hy6MgP4nLf7CvU2dXa8KsJ3tRw5YqE1hVz9FmN6pDc4BgL7uKt2XrA8wQy5HsT1vZj3NeM9fLp6CgR4xUd8Ka2WqY7hBt1VsP5mXn3DzJ9eFr6LuC4kQg8Ta2HyW1vNs7Rb5MpX9dEc3KfU6zLt4AwQ8nJh2VrY5sBg1PmC7xTd9FkL3eZu6RwN8qHa4VyT2mXs7CpD1gK9jLf5UbE3nWr8QzH6tMv2YpA4cSk7Rd1Fg9Xn
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost

# ---- MySQL settings ----
DB_NAME=drers_db
DB_USER=drers_user
DB_PASSWORD=YourStrongPassword123
DB_HOST=127.0.0.1
DB_PORT=3306
