{% extends "base.html" %}
{% block title %}Create New Password · DRERS{% endblock %}

{% block content %}
<div class="auth-wrap">
  <div class="auth-panel">

    {% include "_auth_left.html" %}

    <div class="auth-right">

      <div class="tabs">
        <a> class="tabreate New Password
        </a>
      </div>

      <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <button class="btn-red" type="submit">
          Update Password
        </button>

      </form>

    </div>

  </div>
</div>
{% endblock %}